/* Main layout */
.app {
  max-width: 750px;
  margin: 40px auto;
  padding: 20px;
  font-family: "Segoe UI", Arial;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: 700;
}

/* Upload Card */
.upload-card {
  background: rgba(255, 255, 255, 0.8);
  padding: 22px;
  border-radius: 16px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  margin-bottom: 25px;
}

.label {
  font-weight: 600;
  margin-top: 10px;
}

.dropdown,
.file-input {
  width: 100%;
  padding: 12px;
  margin: 8px 0 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.btn {
  width: 100%;
  background: black;
  color: white;
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.btn:hover {
  opacity: 0.85;
}

/* Result Box */
.result-box {
  background: #ffffff;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

.subtitle {
  margin-bottom: 15px;
  font-weight: 700;
}

/* Score bars */
.score-title {
  margin: 8px 0 4px;
  font-weight: 600;
}

.score-bar {
  width: 100%;
  height: 12px;
  background: #ececec;
  border-radius: 10px;
  overflow: hidden;
}

.score-fill {
  height: 100%;
  border-radius: 10px;
  transition: width 1s ease;
}

.red {
  background: #ff4d4d;
}

.green {
  background: #00c853;
}

/* Lists */
.section-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}

.list li {
  padding: 5px 0;
}

.suggest-box {
  margin-top: 10px;
  background: #fafafa;
  padding: 15px;
  border-left: 4px solid black;
  border-radius: 10px;
}
